.modal {
  width: 65%;
  min-height: 70px;

  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  opacity: 0;
  right: 18%;
  z-index: 99;
  background-color: #2f4053;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 10px;
  h1 {
    color: white;
    font-family: mont-light;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 0;
    font-size: 16px;
  }
}
